@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* ✅ Local Bangla font add */
@font-face {
  font-family: 'SolaimanLipi';
  src: url('/src/assets/fonts/FL\ Mahfuj\ Brush\ Unicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ✅ Apply both Inter + Bangla globally */
@theme {
  --font-bangla: 'SolaimanLipi', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter), var(--font-bangla);
}
